<%- include('./layouts/boilerplate')  %> 
<h1 class="text-center mb-5 ">Hello there, this is home page.
</h1>

<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo suscipit deleniti libero,</p>
     <p class="text-center">pariatur voluptate corrupti magni assumenda nobis quo hic corporis cum fugit voluptas enim itaque in laborum. Expedita!</p>
     <p class="text-center">pariatur voluptate corrupti magni assumenda nobis quo hic corporis cum fugit voluptas enim itaque in laborum. Expedita!</p>