<%- include('./layouts/boilerplate')  %> 
<h1 class="text-center mt-5">Register Page</h1>
<div class="container">
<form action="/register" method="post">
    <div class="input-group mb-3 mt-3">
        <span class="input-group-text">First and last name</span>
        <input type="text" aria-label="First name" class="form-control" name="firstname" id="firstname">
        <input type="text" aria-label="Last name" class="form-control" name="lastname" id="lastname">
      </div>
      <div class="mb-3">
          <label for="dob" class="form-label">Date of Birth</label>
          <input type="date" class="form-control" id="dob" placeholder="DOB" name=dob>
        </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
      </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
      </div>

          <button type="button" class="btn btn-warning">Register</button>

</form>
</div>  